body {
    margin: auto;
    padding: 0px;
    background-color: #F2F6D0;
    max-width: 80%;
    color: #030;
}

footer {
    background-color: #F25757;
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 20px;
}