body {
    margin: auto;
    padding: 0px;
    background-color: #EAF2E3;
    max-width: 80%;
}

header {
    background-color: #F25757;
    color: white;
    text-align: center;
    padding: 5px;
}

h1, h2 {
    margin-top: 0px;
}

footer {
    background-color: #F25757;
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 20px;
}